@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
/*Main colour scheme*/
    --background-colour: #151621;
    --overlay-colour-1: #22243f;
    --text-colour: #bcc9e7;

}

* {
    margin:0px;
}

body {
    background-image: url(Images/background.jpg);
    background-size: auto;
    background-attachment: fixed;
    font-family: "Titillium Web", system-ui;
    overflow-x:hidden;

}

#title {
    color: var(--text-colour);
    font-weight: 600;
    font-size: 4vh;
    text-align: center;

    position:absolute;
    top: 14vh;
    left: 12vw;
    margin: auto;
    
}

#links {
    background-color: var(--background-colour);
    margin: auto;
    display: inline;

    position: absolute;
    top:15.4vh;
    left:32vw;

    border-radius:0.7vw;
}

#links img {
    max-width:5vw;
    max-height:5vh;
    padding-top:1.3vh;
    padding-left:0.8vw;
    padding-right:0.8vw;
    padding-bottom:1vh;
}

#aboutMe {
    background-color: var(--overlay-colour-1);
    color: var(--text-colour);

    position:absolute;
    top: 14vh;
    left: 18vw;

    margin: auto;
    width: 60%;
    border-radius: 0.7vw;
    text-align: left;
    padding-left: 2vw;
    padding-top: 2vh;
    padding-right: 2vw;
    padding-bottom: 3vh;
}

#education {
    background-color: var(--overlay-colour-1);
    color: var(--text-colour);

    position:absolute;
    left: 28vw;
    top: 47vh;

    margin: auto;
    border-radius: 0.7vw;
    text-align: left;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-bottom: 3vh;
    padding-right: 2vw;
}

.school {
    padding-left: 2vw;
    padding-right: 2vw;
}


#schoolname, #timeline{
    display:inline;
    vertical-align:middle;
    padding-right: 2vw;
}

.bottom_body {
    background-color: var(--background-colour);

    width: 100vw;
    height: 200vh;

    position: absolute;
    top: 90vh;
    display:block;

}